{% load static%}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
          
                      <div class="mb-md-5 mt-md-4 pb-5">

                    <form action="add_member", method="POST">
                        {% csrf_token %}
          
                        <h2 class="fw-bold mb-2 text-uppercase">Add Member</h2>
                        <p class="text-white-50 mb-5"> Please add details carefuly </p>
          
                        <div class="form-outline form-white mb-4">
                          <label class="form-label" for="typeEmailX">Name</label>
                          <input type="text"  class="form-control form-control-lg" name='name' />
                        </div>

                        <div class="form-outline form-white mb-4">
                          <label class="form-label" for="typeEmailX">Age</label>
                          <input type="number"  class="form-control form-control-lg" name='age' />
                        </div>

                        <div class="form-outline form-white mb-4">
                          <label class="form-label" for="typeEmailX">Phone Number</label>
                          <input type="text"  class="form-control form-control-lg" name='phonenumber' />
                        </div>

                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="typeEmailX">Blood Group</label>
                        </div>

                        <div class="form-check">
                            A+ &nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" type="radio" name="bloodgroup"  value="A+"> &nbsp;
                            A- &nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" type="radio" name="bloodgroup"  value="A-"> &nbsp;
                            B+ &nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" type="radio" name="bloodgroup"  value="B+"> &nbsp;
                            B- &nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" type="radio" name="bloodgroup"  value="B-"> &nbsp;
                            AB+ &nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" type="radio" name="bloodgroup"  value="AB+"> &nbsp;
                            AB- &nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" type="radio" name="bloodgroup"  value="AB-"> &nbsp;
                            O+ &nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" type="radio" name="bloodgroup"  value="O+"> &nbsp;
                            O- &nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" type="radio" name="bloodgroup"  value="O-"> &nbsp;
                        </div>
          
          <br>
          
                        <button class="btn btn-outline-light btn-lg px-5" type="submit">ADD</button>
          
                    </form>

                      </div>
          
                      <div>
                        <button type="button" class="btn btn-link" > <A href= {% url 'table' %}> Go Back </A> </button>
                      </div> 

                       <br><br>
                      <div>
                        
                      {% for message in messages %}
                        <p class="mb-0"> {{ message }}</p>
                      {% endfor %}
                      </div>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </body>
</html>