{% load static%}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>

        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
          
                      <div class="mb-md-5 mt-md-4 pb-5">
            
             <h2 class="fw-bold mb-2 text-uppercase">Blood Bank</h2> <br><br>

                    <form action="signup", method="POST">
                        {% csrf_token %}

                        <h2 class="fw-bold mb-2 text-uppercase">Signup Here</h2>
          
                        <div class="form-outline form-white mb-4">
                          <label class="form-label" >Username</label>
                          <input type="text" class="form-control form-control-lg" id='username' name='username'  />
                          <span id='message'></span>
                        </div>
          
                        <div class="form-outline form-white mb-4">
                          <label class="form-label" for="typePasswordX">Password</label> 
                          <input type="password" id="typePasswordX" class="form-control form-control-lg" name='password1' />
                          <span id='msg'></span>
                        </div>

                        <div class="form-outline form-white mb-4">
                          <label class="form-label" for="typePasswordX">Conform Password</label> 
                          <input type="password" id="typePasswordX" class="form-control form-control-lg" name='password2' />
                        </div>
          
          
                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Signup</button>
             
          
                    </form>

                    <div>
                        <p class="mb-0">Do you have an account? <a href={% url 'login' %} class="text-white-50 fw-bold">Login</a></p>
                    </div>
                     
                    <br><br>

                    <div>
                    {% for message in messages %}
                        <p class="mb-0"> {{message}} </p>
                    {% endfor %}
                    </div>

                   </div>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </section>

          <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
          <script>
            $(document).ready( () => {
              $('#username').keyup( () => {
                var Username = $('#username').val()
                var password = $('#typePasswordX').val()
                console.log(password)
                var data = {
                  'csrfmiddlewaretoken' : '{{csrf_token}}',
                  'Username' : Username,
                  'password' : password,
                }


                

                $.ajax({
                  url : 'check',
                  method: 'POST',
                  data : data,
                  dataType : 'json',
                  success : (responce) =>{
                    if (responce.message != ' '){
                      $("#message").html(responce.message)
                    }

                    if(responce.message == ' '){
                      $("#message").html('Username Available')
                    }  
                    
                  }
                })

              })
            })

          </script>

          <script>

$(document).ready( () => {
              $('#password').keyup( () => {
                var password = $('#password').val()
                var username = $('#username').val()
                if (password.length != 8){

                    $("#meg").html('Minimum 8')

                }

                if(password==username){
                    $("#meg").html('Username not allowed')
                }
                
              
                })

          </script>

    </body>
</html>