<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
             <h2 class="fw-bold mb-2 text-uppercase">Blood Bank Table</h2> <br>
            <p class="mb-0"> User : {{ username }}  <a class="btn btn-primary" href={% url 'logout' %} role="button">Logout</a></p>  
            
             <br>
<table class="table">

<a class="btn btn-primary" href={% url 'add_member' %} role="button">ADD</a>

  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Blood Group</th>
    </tr>
  </thead>

  <tbody>
{% for element in data%}
    <tr>
      <th scope="row"> {{ element.id }} </th>
      <td> {{ element.name }} </td>
      <td>{{ element.age }}</td>
      <td>{{ element.phone_number }}</td>
      <td>{{ element.blood_group }}</td>
    </tr>


{% endfor %}

  </tbody>

</table>
</body>
</html>